body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    margin: 0rem 3rem;
}

.header-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 15rem;
    align-items: center;
    height: 3rem;
}

.header-logo {
    font-size: larger;
}

.header-links {
    display: flex;
    font-size: large;
    gap: 1.5rem;
}

.container-one {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 7rem 15rem;   
}

.left-side {
    max-width: 27rem;
    min-height: 15rem;
    padding-right: 5rem;
    font-size: large;
    align-items: normal;
}

.b1 {
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    border-style: none;
    height: 40px;
    width: 125px;
    font-size: medium;
    font-weight: bold;
    
}

.right-side {
    background-color: grey;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.container-two {
    padding: 3rem 20rem;
    background-color: white;
}

.bbox-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.blue-box {
    border-style: solid;
    border-color: #3882F6;
    border-width: medium;
    border-radius: 15px;
    height: 160px;
    width: 160px;
}

.text {
    width: 160px;
    text-align: center;

}

.text-box {
    height: 160px;
    width: 160px;
    padding-top: 1px;
    text-align: center;
    min-width: 0;
    flex-shrink: 0;

}

.container-three {
    background-color: #E5E7EB;
    text-align: left;
    font-size: 25px;
    font-style: italic;
    padding: 7rem 21rem;
}

.container-four {
    background-color: white;
    padding: 7rem 15rem;
}

.action-box {
    background-color: #3882F6;
    color: white;
    border-radius: 15px;
    display: flex;
    padding: 2rem 6rem;
}

.box-left {
    border-style: none;
    flex-grow: 1;
    max-height: 100px;
    font-size: large;
}

.box-right {
    border-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b2 {
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    border-style: solid;
    border-color:  white;
    height: 40px;
    width: 125px;
    font-size: medium;
    font-weight: bold;
}

.footer {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

li {
    list-style-type: none;
}

h1 {
    font-size: 56px;
    font-weight: bolder;
    margin-bottom: 0px;
}

h2 {
    font-size: 36px;
    text-align: center;
 }

 h3 {
    text-align: right;
    font-style: normal;
 }

 h4 {
    font-size: 36px;
    font-style: light italic;
 }

 h5 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 5px;

 }

p {
    margin-top: 0px;
}